.container-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em 5em 3em;

}

.sobre-vagas {
    color: var(--main-color);
    font-size: 16px;
    background-color: rgb(240, 178, 178);
    padding: 0.2em;
    width: 125px;
    border-radius: 16px;
}

.texto-vagas {
    flex-wrap: wrap;
    color: var(--text-color);
    font-size: 20px;
}

.headline-vagas {
    font-size: 36px;
}

.img-capa {
    padding: 3em;
}


@media screen and (max-width: 1024px) {
    .texto-vagas {
        flex-wrap: wrap;
        color: var(--text-color);
        font-size: 16px;
    }

    .img-capa {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .container-vagas {
        padding: 0 1em;

    }

    .sobre-nos {
        padding: 36px 0 0;
    }

    .headline-vagas {
        font-size: 32px;
    }

    .texto-vagas {
        font-size: 14px;
        width: 100%;
        padding: 0 0 3em;
    }

}